body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    position: relative;
    height: 100%;
    background-color: #299000;
}

header{
    display: flex;
    justify-content: center;
    position: relative;
    
}

/* LOGO */
.logo { 
    width: 184px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FCEDFF;
    color: #1d1f1d;

    /* Igual que en la primera imagen */
    border-radius: 0 0 30px 30px;

    position: absolute;
    left: -20px;
    top: -15px;

    transition: transform 0.3s ease, background-color 0.3s ease;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo span {
    font-size: 16px;
    font-weight: 600;
    color: #163d17;
    line-height: 1.1;
}


/* TÍTULO */
h1 {
    width: 350px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    background-color: #92F980;
    color: #1b5e20;
    border-radius: 10px;
    margin: 0;
   transition: transform 0.3s ease, background-color 0.3s ease;
}


/* BOTÓN */
button {
    position: absolute;
    left: 1000px;
    top: 0px;
    background-color: #163d17;
    color: white;
    border-color: white;
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 9rem ;
    height: 6rem ;
}

button:hover {
    background-color: #0f2c10;
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: none;
}